@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| buttons
|--------------------------------------------------------------------------
Create 5 buttons:
.button (default)           Materialize Red
.button.button-primary      Uikit Blue
.button.button-secondary    Light Gray
.button.button-outline      Button with white background and gray border and text
.button.button-clear        Button with only gray text. But with hover a light gray border

Sizes:
.button (default)           Normal size
.button.button-xl           Extra Large
.button.button-large        Large
.button.button-small        Small
.button.button-xs           Extra Small

Other Styles and States:
.button.button-fluid        Width: 100%
disabled                    Disabled
.button-inline              For icons inside a button

Primary:
light gray button: #f8f8f8 +hover #eeeeee;
darker gray text + red hover
|
|--------------------------------------------------------------------------
*/

/** DEFAULT BUTTON **/
/*
|--------------------------------------------------------------------------
| Default Button
|--------------------------------------------------------------------------
*/
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    transition: all 0.25s ease-out;
    color: var(--gray-09);
    background-color: var(--gray-01);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1rem;
    letter-spacing: .2rem;
    font-weight: 500;
    font-size: 1.1rem;
    height: 3.8rem;
    padding: 0 3.0rem;
    border-radius: 4px;
}

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: var(--color-primary);
    background-color: var(--gray-03);
    outline: 0;
}

/*
|--------------------------------------------------------------------------
| Primary Button
|--------------------------------------------------------------------------
*/
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: var(--white);
    background-color: var(--color-primary);
}

a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: var(--white);
    background-color: var(--color-primary-hover);
}

/*
|--------------------------------------------------------------------------
| Default Button
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| Default Button
|--------------------------------------------------------------------------
*/













/*
.button {
    transition: background-color 0.3s;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    padding: 0.6em 1em;
    font-weight: 300;
    font-size: 0.8125em;
    line-height: 1;
    color: inherit;
    background-color: hsla(31, 15%, 50%, 0.15);
    white-space: nowrap;
}

.button:hover,
.button:focus,
.button:active {
    background: hsla(31, 15%, 50%, 0.25);
}


.button .wide {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

 */