@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| cards
| -------------------------------------------------------------------------
| https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
| https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/media.css
|
|--------------------------------------------------------------------------
*/

.card {
    position: relative;
    box-sizing: border-box;
    background-color: var(--white);
    color: #666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.1s ease-in-out;
}
.card:hover {
    /* box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16); */
}
.card-body {
    display: flow-root;
    padding: 15px 30px;
}
.card-header {
    display: flow-root;
    padding: 15px 30px;
    border-bottom: 1px solid var(--border-color);
}
.card-title-header {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}


.card-footer {
    display: flow-root;
    padding: 15px 30px;
    border-top: 1px solid var(--border-color);
}

.card-title {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0;
}
.meta-text {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #999;
}
@media only screen and (min-width: 48em) { /* 768px = 48em */

    .card-title-header {
        gap: 2rem;
    }

    .card-body {
        padding: 25px 50px;
    }
    .card-header {
        padding: 25px 50px;
    }
    .card-footer {
        padding: 25px 50px;
    }
}

@media (min-width: 75em) { /* 1200px = 75em  */

    .card-title-header {
        gap: 3rem;
    }

    .card-body {
        padding: 35px 70px;
    }
    .card-header {
        padding: 35px 70px;
    }
    .card-footer {
        padding: 35px 70px;
    }
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

img.top {
    max-inline-size: 100%;
    block-size: auto;
    inline-size: 100%;
    object-fit: cover;
    object-position: top center;
}
img.circle {
    border-radius: 50%;
}

.badge {
    box-sizing: border-box;
    min-width: 18px;
    height: 18px;
    padding: 0 5px;
    border-radius: 500px;
    vertical-align: middle;
    background: currentColor;
    color: var(--white);
    font-size: 11px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

