@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| form
| ------------------------------------------------------------------------
| https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/
| Floating Labels?

https://freefrontend.com/css-code-examples/
|--------------------------------------------------------------------------
*/
/*
nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
}
*/



/*
form {
    margin-bottom: 1.5rem;
}

input {
    display: block;
    width: 100%;
}

label,
select {
    display: block;
    width: 100%;
    max-width: 100%;
}

textarea {
    resize: vertical;
    min-height: 5rem;
    max-height: 15rem;
}

input {
    font-size: 1.6rem;
    height: 32px;
}
*/

/*
input[type="search"] {
    flex: 3;
}
input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
}
*/

input,
select,
textarea {
    height: auto;
    max-width: 100%;
}



input[type=checkbox]:checked {
    accent-color: var(--color-primary);

}






input:invalid ~ span::after {
    content: "✖";
    padding-left: 5px;
    position: absolute;
}

input:valid ~ span::after {
    content: "✓";
    padding-left: 5px;
    position: absolute;
}

/*
|--------------------------------------------------------------------------
| https://developer.mozilla.org/en-US/docs/Web/HTML/Element/search
|--------------------------------------------------------------------------
*/
.search {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

input[type="search"] {
    border-radius: 0;
    font: inherit;
    overflow: visible;
    -webkit-appearance: none;
    vertical-align: middle;
    width: 100%;
    border: 1px solid var(--border-color);
    color: #666;
}

input[type="search"]:focus {
    outline: none;
}

input[type="search"]::placeholder {
    color: #999;
}

/*
|--------------------------------------------------------------------------
| form
| ------------------------------------------------------------------------
| https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/
| <div class="input-addon">
| <input class="input-addon-field">
| <button class="input-addon-item">…</button>
</div>
|--------------------------------------------------------------------------
*/
.input-addon {
    display: flex;
    margin-bottom: 1.5em;
}

.input-addon-field {
    flex: 1;
    /* field styles */
}

.input-addon-item {
    /* item styles */
}

.input-addon-field:not(:first-child) {
    border-left: 0;
}
.input-addon-field:not(:last-child) {
    border-right: 0;
}

.input-addon-item {
    background-color: white;
    border: 1px solid #e5e5e5;
    color: #666;
    font: inherit;
    font-weight: normal;
}

.input-addon-field,
.input-addon-item {
    padding: 0.5em 0.75em;
}

.input-addon-field:first-child,
.input-addon-item:first-child {
    border-radius: 18px 0 0 18px;
}

.input-addon-field:last-child,
.input-addon-item:last-child {
    border-radius: 0 18px 18px 0;
}