@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| global
|--------------------------------------------------------------------------
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  /* DEBUG CSS: background: rgb(182 216 250 / 0.06) !important; */
}

* {
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

body > header,
footer {
  flex: none;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.container {
  display: flow-root;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  outline: none;
}

section {
  display: flow-root;
  box-sizing: border-box;
  padding: 0;
}

article {
  padding: 0 1rem 1rem 1rem;
}

article,
aside {
  display: flow-root;
  flex: 1 1 100%;
}

.content {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

@media only screen and (min-width: 48em) {

  .content {
      flex-direction: row;
      gap: 2rem;
  }
}

footer {
  min-height: 100px;
  background-color: var(--gray-07);
  color: white;
}

hr {
  border: 0;
  border-top: 0.1rem solid var(--border-color);
  margin: 2.0rem 0;
}

ul,
ol {
  padding: 0 1rem;
}