@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| https://web.dev/learn/design/responsive-images/
|--------------------------------------------------------------------------
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

iframe {
    border-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.video {
    aspect-ratio: 16 / 9;
}
figure {
    margin: 0 0 1rem 0;
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25rem 0.25rem;
    background: linear-gradient(to top, hsla(230, 40%, 5%, 0.75), hsla(230, 40%, 5%, 0));
    color: white;
}