@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| https://github.com/kevin-powell/fem-manage-landing-page-part-6/blob/master/style.css
| https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/base/elements.css
| https://dev.to/danywalls/how-to-use-hsl-and-calc-functions-in-css-for-creating-darken-and-light-colors-3kbn
| https://htmlcolors.com/hex-to-hsl
| https://debroome.com/best-practices-how-to-write-company-brand-guidelines-colors/
| https://noeldelgado.github.io/shadowlord/
|
| Best practices colors: (60-30-10 Rule)
| - Primary colors: (60%)
| - Secondary colors: (30%)
| - Tertiary color: (10%)
|
| Variable currentcolor is the same color as font-color was set to earlier!
| Currently, only four elements will tint via the accent-color property: checkbox, radio, range and progress.
|--------------------------------------------------------------------------
*/
:root {
    --gray-01: #f8f8f8;
    --gray-02: #f2f2f2;
    --gray-03: #eeeeee;
    --gray-04: #cccccc;
    --gray-05: #acacac;
    --gray-06: #6b6b6b;
    --gray-07: #5a5d64;
    --gray-08: #3d3d3d;
    --gray-09: #2b2c30;
    --gray-10: #242424;

    --color-primary: #e57373;
    --color-primary-hover: #db5a5a;

    --color-secondary: #3575d3;
    --color-secondary-hover: #1c5ebf;

    --ff-icons: 'Font Awesome 6 Free';
}